@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjectManagementTool.Models.NonBasicModels.Projects

<div class="container-fluid h-100 w-100 overflow-auto">
	<h2>Projects View</h2>
	@if (Model.projects != null)
	{
		<div class="accordion accordion-flush">
			@foreach (Models.Project project in Model.projects)
			{
				<div class="accordion-item" id="accordion">
					<h2 class="accordion-header">
						<button class="accordion-button" id="button-@project.guid" type="button" data-bs-toggle="collapse" data-bs-target="#@project.guid" aria-expanded="false" aria-controls="@project.guid">
							@project.title
							@if (project.isNew)
							{
								<p> </p>
								<span class="badge bg-secondary">New</span>
							}
						</button>
					</h2>
					<div id="@project.guid" class="accordion-collapse collapse" data-bs-parent="#accordion">
						<div class="accordion-body">
							<p>
								@project.description
							</p>

							<a class="btn btn-secondary" asp-page="/projectOverview" asp-route-id="@project.guid">View project</a>
						</div>
					</div>
				</div>
			}
		</div>
	}
	<form class="container-sm h-25 w-100">
		<a class="btn btn-secondary" asp-page="/ProjectCreator">Create Project</a>
	</form>
</div>